.App {
  margin-top: 123px;
  text-align: center;
}
@media screen and (max-width: 1400px) {
  .App {
    margin-top: 90px;
  }
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
